{% extends 'padre.html'%}

{%block main %}
{% load crispy_forms_tags %}
<br>
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                     <h1>Modificar</h1>
                 <form action="" method='post' enctype="multipart/form-data">
                    {% csrf_token%}
                    {{form | crispy}}
                     <hr>
                     <div class="d-flex justify-content-end">
                     <input type="reset" value="Cancelar" class="btn btn-outline-danger">
                    &nbsp;
                    <input type="submit" class="btn btn-outline-primary">
                     </div>
                     </form>
                        {{mensaje}}
                      {% for m in messages%}
               <h1>{{m}}</h1>
                {% endfor %}
            </div>
        </div>


    </div>

</div>

{% endblock main %}